<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="1.0.6" />
  <package id="MathNet.Numerics" version="4.4.0" />
  <package id="Newtonsoft.Json" version="9.0.1" />
  <package id="SocketIoClientDotNet" version="1.0.6" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" />
  <package id="System.Collections.Immutable" version="1.4.0" />
  <package id="WebSocket4Net" version="0.15.2" />
</packages>